# Operating system
.DS_Store

# pnpm
node_modules

# Turborepo
.turbo

# Vitest
.vitest
coverage

# TypeScript cache
*.tsbuildinfo

# Build directories
.docusaurus
.next
build
dist
storybook-static

# Environment variables
.env

# ide files
*.iml
.idea



*storybook.log
