# npm
registry=https://registry.npmjs.org/
fund=false

# pnpm
link-workspace-packages=false
public-hoist-pattern[]=*@vitest/coverage-istanbul* # https://pnpm.io/npmrc#public-hoist-pattern

#node
node-options="--max-old-space-size=8192"
