/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --primitive-neutral-50: #ffffff;
  --primitive-neutral-100: #eff1f2;
  --primitive-neutral-200: #e1e1e1;
  --primitive-neutral-300: #c3c5c7;
  --primitive-neutral-400: #888a8f;
  --primitive-neutral-500: #565759;
  --primitive-neutral-600: #414245;
  --primitive-neutral-700: #38393A;
  --primitive-neutral-800: #212223;
  --primitive-neutral-900: #151517;
  --primitive-neutral-950: #000000;
  --primitive-alpha-black-100: rgba(0, 0, 0, 0.08);
  --primitive-alpha-black-200: rgba(0, 0, 0, 0.16);
  --primitive-alpha-black-300: rgba(0, 0, 0, 0.24);
  --primitive-alpha-black-400: rgba(0, 0, 0, 0.40);
  --primitive-alpha-black-500: rgba(0, 0, 0, 0.80);
  --primitive-alpha-white-100: rgba(255, 255, 255, 0.08);
  --primitive-alpha-white-200: rgba(255, 255, 255, 0.16);
  --primitive-alpha-white-300: rgba(255, 255, 255, 0.24);
  --primitive-alpha-white-400: rgba(255, 255, 255, 0.40);
  --primitive-alpha-white-500: rgba(255, 255, 255, 0.80);
  --primitive-accent-primary-50: #d5f2fe;
  --primitive-accent-primary-100: #b1e9ff;
  --primitive-accent-primary-200: #6ed1ff;
  --primitive-accent-primary-300: #39b7fa;
  --primitive-accent-primary-400: #009cde;
  --primitive-accent-primary-500: #008fd0;
  --primitive-accent-primary-600: #0068a1;
  --primitive-accent-primary-700: #004f7e;
  --primitive-accent-primary-800: #002C52;
  --primitive-accent-primary-900: #001129;
  --primitive-accent-secondary-50: #c9f6fd;
  --primitive-accent-secondary-100: #97f1ff;
  --primitive-accent-secondary-200: #54e5f9;
  --primitive-accent-secondary-300: #22d5ed;
  --primitive-accent-secondary-400: #22b4c9;
  --primitive-accent-secondary-500: #188493;
  --primitive-accent-secondary-600: #146974;
  --primitive-accent-secondary-700: #0e474e;
  --primitive-accent-secondary-800: #083035;
  --primitive-accent-secondary-900: #051e21;
  --primitive-accent-tertiary-50: #f9c5e2;
  --primitive-accent-tertiary-100: #f49acc;
  --primitive-accent-tertiary-200: #f06ab3;
  --primitive-accent-tertiary-300: #e8178a;
  --primitive-accent-tertiary-400: #b90d6c;
  --primitive-accent-tertiary-500: #8a0e53;
  --primitive-accent-tertiary-600: #6f0b43;
  --primitive-accent-tertiary-700: #4c082e;
  --primitive-accent-tertiary-800: #3a0623;
  --primitive-accent-tertiary-900: #270417;
  --primitive-utility-info-50: #ffffff;
  --primitive-utility-info-100: #eff1f2;
  --primitive-utility-info-200: #E1E1E1;
  --primitive-utility-info-300: #c3c5c7;
  --primitive-utility-info-400: #888a8f;
  --primitive-utility-info-500: #565759;
  --primitive-utility-info-600: #414245;
  --primitive-utility-info-700: #38393A;
  --primitive-utility-info-800: #212223;
  --primitive-utility-info-900: #151517;
  --primitive-utility-advisory-50: #ebf4ff;
  --primitive-utility-advisory-100: #c4deff;
  --primitive-utility-advisory-200: #a9ceff;
  --primitive-utility-advisory-300: #8bbdff;
  --primitive-utility-advisory-400: #62a6ff;
  --primitive-utility-advisory-500: #4e88da;
  --primitive-utility-advisory-600: #3c67a0;
  --primitive-utility-advisory-700: #264062;
  --primitive-utility-advisory-800: #1a2c43;
  --primitive-utility-advisory-900: #0e1825;
  --primitive-utility-normal-50: #eefbef;
  --primitive-utility-normal-100: #c2f5c5;
  --primitive-utility-normal-200: #86e98c;
  --primitive-utility-normal-300: #47d750;
  --primitive-utility-normal-400: #2bbf35;
  --primitive-utility-normal-500: #26a12e;
  --primitive-utility-normal-600: #1c7e23;
  --primitive-utility-normal-700: #145718;
  --primitive-utility-normal-800: #0e3b11;
  --primitive-utility-normal-900: #08210a;
  --primitive-utility-serious-50: #fff8eb;
  --primitive-utility-serious-100: #ffeac2;
  --primitive-utility-serious-200: #ffd382;
  --primitive-utility-serious-300: #ffc14c;
  --primitive-utility-serious-400: #fbab16;
  --primitive-utility-serious-500: #E69600;
  --primitive-utility-serious-600: #bb7a00;
  --primitive-utility-serious-700: #8e5d00;
  --primitive-utility-serious-800: #634101;
  --primitive-utility-serious-900: #412B00;
  --primitive-utility-critical-50: #ffebea;
  --primitive-utility-critical-100: #ffc4c2;
  --primitive-utility-critical-200: #ff9390;
  --primitive-utility-critical-300: #ff6d68;
  --primitive-utility-critical-400: #ff2e27;
  --primitive-utility-critical-500: #d40b04;
  --primitive-utility-critical-600: #a10701;
  --primitive-utility-critical-700: #790501;
  --primitive-utility-critical-800: #540300;
  --primitive-utility-critical-900: #290200;
  --primitive-roe-id-pending: #404040;
  --primitive-roe-id-friend: #1484f4;
  --primitive-roe-id-assumed-friend: #0e8f37;
  --primitive-roe-id-neutral: #5b137a;
  --primitive-roe-id-unknown: #edda0a;
  --primitive-roe-id-suspect: #ffad38;
  --primitive-roe-id-hostile: #ff0033;
  --primitive-roe-id-no-statement: #404040;
  --primitive-classification-missing: #0b0b0b;
  --primitive-classification-unclass: #007A33;
  --primitive-classification-cui: #502b85;
  --primitive-classification-confidential: #0033a0;
  --primitive-classification-secret: #c8102e;
  --primitive-classification-top-secret: #ff8c00;
  --primitive-classification-ts-sci: #fce83a;
  --primitive-on-accent: #FFFFFF;
  --typography-header-xxl-size: 32px;
  --typography-header-xxl-height: 40px;
  --typography-header-xxl-spacing: 0px;
  --typography-header-xl-size: 24px;
  --typography-header-xl-height: 28px;
  --typography-header-xl-spacing: 0.18px;
  --typography-header-l-size: 20px;
  --typography-header-l-height: 24px;
  --typography-header-l-spacing: 0.18px;
  --typography-header-m-size: 14px;
  --typography-header-m-height: 20px;
  --typography-header-m-spacing: 0.25px;
  --typography-header-s-size: 12px;
  --typography-header-s-height: 16px;
  --typography-header-s-spacing: 0.4px;
  --typography-header-xs-size: 10px;
  --typography-header-xs-height: 12px;
  --typography-header-xs-spacing: 0.25px;
  --typography-body-l-size: 16px;
  --typography-body-l-height: 24px;
  --typography-body-l-spacing: 0.5px;
  --typography-body-m-size: 14px;
  --typography-body-m-height: 20px;
  --typography-body-m-spacing: 0.25px;
  --typography-body-s-size: 12px;
  --typography-body-s-height: 16px;
  --typography-body-s-spacing: 0.4px;
  --typography-body-xs-size: 10px;
  --typography-body-xs-height: 12px;
  --typography-body-xs-spacing: 0.5px;
  --typography-body-xxs-size: 9px;
  --typography-body-xxs-height: 12px;
  --typography-body-xxs-spacing: 0.25px;
  --typography-button-l-size: 16px;
  --typography-button-l-height: 24px;
  --typography-button-l-spacing: 0.5px;
  --typography-button-m-size: 14px;
  --typography-button-m-height: 20px;
  --typography-button-m-spacing: 0.25px;
  --typography-button-s-size: 12px;
  --typography-button-s-height: 16px;
  --typography-button-s-spacing: 0.4px;
  --typography-button-xs-size: 10px;
  --typography-button-xs-height: 12px;
  --typography-button-xs-spacing: 0.5px;
  --spacing-0: 0px;
  --spacing-none: unset;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 40px;
  --spacing-oversized: 80px;
  --radius-none: 0px;
  --radius-small: 2px;
  --radius-medium: 4px;
  --radius-large: 8px;
  --radius-round: 80px;
  --shadow-elevation-default: initial;
  --shadow-elevation-overlay-bold: 0 8px 24px 0 rgba(0 0 0 / 0.80);
  --shadow-elevation-overlay-muted: 0 8px 24px 0 rgba(0 0 0 / 0.16);
  --shadow-elevation-raised-bold: 0 1px 4px 0 rgba(0 0 0 / 0.80);
  --shadow-elevation-raised-muted: 0 1px 4px 0 rgba(0 0 0 / 0.16);
  --font-primary: "Roboto Flex", sans-serif;
  --font-display: "Roboto Mono", monospace;
  --icon-size-l: var(--spacing-xl);
  --icon-size-m: 20px;
  --icon-size-s: var(--spacing-l);
  --icon-size-xs: var(--spacing-m);
}